*.o
*.pb.cc
*.pb.h
echo_server
compile_commands.json

*.class
*.jar
echo-client/out/
echo-client/classes/
echo-client/build/

*.iml
!echo-client/gradle/wrapper/gradle-wrapper.jar
.idea/
echo-client/.gradle/

#MacOSX
**/.DS_Store
#eclipse
.classpath
.project
.settings
*/bin

